<!-- Category List -->
<div class="mb-5">
    <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categorías</h4>
    <div class="bg-white" style="padding: 30px;">
        <ul class="list-inline m-0">
            {% assign categories_list = site.categories %}
            {% if categories_list.first[0] == null %}
              {% for category in categories_list %}
              <li class="mb-3 d-flex justify-content-between align-items-center">
                <a class="text-dark" href="#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}"><i class="fa fa-angle-right text-primary mr-2"></i>{{ category | camelcase }}</a>
                <span class="badge badge-primary badge-pill">{{ site.tags[category].size }}</span>
              </li> 
              {% endfor %}
            {% else %}
              {% for category in categories_list %}
                <li class="mb-3 d-flex justify-content-between align-items-center">
                    <a class="text-dark" href="#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"><i class="fa fa-angle-right text-primary mr-2"></i>
                        {{ category[0] | camelcase }}</a>
                    <span class="badge badge-primary badge-pill">{{ category[1].size }}</span>
                </li>
                {% endfor %}
            {% endif %}
            {% assign categories_list = nil %}
        </ul>
    </div>
</div>