<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Blog {{site.title}}</h3>
            <div class="d-inline-flex text-white">
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">{{page.title}}</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->