<!-- JavaScript Libraries -->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{"lib/easing/easing.min.js" | relative_url}}"></script>
<script src="{{"lib/owlcarousel/owl.carousel.min.js" |relative_url}}"></script>

<!-- Contact Javascript File -->
<script src="{{"mail/jqBootstrapValidation.min.js" |relative_url}}"></script>
<script src="{{"mail/contact.js" |relative_url}}"></script>

<!-- Template Javascript -->
<script src="{{"js/main.js" |relative_url}}"></script>